{% macro modals() %}
  {% import "createModal.njk" as createModal %}
  {% import "updateModal.njk" as updateModal %}
  {% import "aboutModal.njk" as aboutModal %}
  {% import "configModal.njk" as configModal %}
  {% import "timerModal.njk" as timerModal %}
  {{ aboutModal.modal() }}
  {{ createModal.modal() }}
  {{ updateModal.modal() }}
  {{ configModal.modal() }}
  {{ timerModal.modal() }}
{% endmacro %}