{% macro modals() %}
  {% import "createModal.njk" as createModal %}
  {% import "updateModal.njk" as updateModal %}
  {% import "aboutModal.njk" as aboutModal %}
  {% import "configModal.njk" as configModal %}
  {% import "timerModal.njk" as timerModal %}
  {% import "colorPickerModal.njk" as colorPickerModal %}
  {% import "sprintModal.njk" as sprintModal %}
  {% import "notesListModal.njk" as notesListModal %}

  {{ colorPickerModal.modal() }}
  {{ aboutModal.modal() }}
  {{ createModal.modal() }}
  {{ updateModal.modal() }}
  {{ configModal.modal() }}
  {{ timerModal.modal() }}
  {{ sprintModal.sprintModal() }}
  {{ notesListModal.modal() }}
{% endmacro %}