{% macro modal() %}
<div class="modal unselectable modal-timer" id="timerModal" style="display: none">
  <div class="modal-content">
    <h2>Timer</h2>
    <form id="timerForm" class="modal-form">
      <label for="issue-timer">Issue:</label>
      <select id="issue-timer" name="issueId" required></select>
      <label for="comment-timer">Comment:</label>
      <textarea class="comment" id="comment-timer" name="comment"></textarea>
      
      <div class="time-fields">
        <div class="time-field">
          <label for="start-time-timer">Start Time:</label>
          <input type="datetime-local" id="start-time-timer" name="startTime">
        </div>
        <div class="time-field">
          <label for="end-time-timer">End Time:</label>
          <input type="datetime-local" id="end-time-timer" name="endTime">
        </div>
      </div>
      
      <div class="timer-display" id="timer-display">0m</div>
      
      <div class="form-group">
        <label for="round-timer-checkbox">Round to</label>
        <input type="checkbox" id="round-timer-checkbox" name="roundTimer">
        <input type="number" id="timer-rounding-interval" name="roundingInterval" min="1"> minutes
      </div>
      
      <div class="buttons">
        <button type="button" id="start-save-timer-btn" class="" onclick="toggleStartSaveTimer()" title="Start/Save Timer">🔴</button>
        <button type="button" id="cancel-timer-btn" class="destructive" onclick="cancelTimer()" title="Cancel Timer">❌</button>
        <button id="cancel-btn-timer" title="Close" class="close-btn" type="button" onclick="toggleTimerModal();">✖️</button>
      </div>
      <div id="confirmation-message" class="confirmation-message"></div> <!-- Confirmation message element -->
    </form>
  </div>
</div>
{% endmacro %}