{% macro modal() %}
  <!-- HTML structure for the modal form -->
  <div class="modal unselectable modal-update">
    <div class="modal-content">
      <h2>Update work log</h2>
      <form class="modal-form" id="modal-form-update" method="PUT" action="/worklog/">
        <input type="hidden" name="worklogId" value="">
        <label for="issue">Issue:</label>
        <input type="hidden" id="issue-update" name="issueId">
        <a target="_blank" id="issue-label" style="text-align: center;" name="issue-label" placeholder="No issue" target="_blank"></a>
        
        
        
        <label for="issue-key-color">Issue Color:</label>
        <input type="color" id="issue-key-color" disabled="true" name="issueKeyColor" class="issue-key-color-update" value="#000000">
        
        
        <label for="comment-update">Comment:</label>
        <textarea class="comment" id="comment-update" name="comment"></textarea>
        
        <div class="time-fields">
          <div class="time-field">
            <label for="start-time-update">Start Time:</label>
            <input type="datetime-local" id="start-time-update" name="startTime">
          </div>
          <div class="time-field">
            <label for="end-time-update">End Time:</label>
            <input type="datetime-local" id="end-time-update" name="endTime">
          </div>
        </div>
        <label id="author-label" style="text-align: center;"></label> <!-- Add this line to display the author -->

        <div class="buttons">
          <button class="destructive" id="delete-btn-update" title="Delete" type="button" onclick="handleDelete(event, '/worklog/' + document.querySelector('#modal-form-update input[name=worklogId]').value + '?issueId=' + document.querySelector('#modal-form-update input[name=issueId]').value)">🗑️</button>
          <button id="cancel-btn-update" title="Cancel" class="close-btn" type="button" onclick="hideModal('.modal-update')">✖️</button>
          <button class="primary" id="submit-btn-update" title="Submit" type="submit" onclick="handleSubmit(event, '/worklog/' + document.querySelector('#modal-form-update input[name=worklogId]').value, 'PUT')">☑️</button>
        </div>
      </form>
    </div>
  </div>
{% endmacro %}