/* Dark Theme */
body.dark-theme {
    background-color: #121212;
    color: #cacaca;
    --main-page-bg-color: #211e21;
    --fc-small-font-size: .85em;
    --fc-page-bg-color: #3d3d3d;
    --fc-neutral-bg-color: #2c000631;
    --fc-neutral-text-color: #808080;
    --fc-border-color: #464646;
  
    --fc-event-text-color: #fff;
    --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);
  
    --fc-more-link-bg-color: #d0d0d0;
    --fc-more-link-text-color: inherit;
  
    --fc-event-resizer-thickness: 8px;
    --fc-event-resizer-dot-total-width: 8px;
    --fc-event-resizer-dot-border-width: 1px;
  

    --fc-today-bg-color: #a325252f;
    --fc-now-indicator-color: red;
}

body.dark-theme #loading {
    mix-blend-mode: color-dodge;
    filter: invert(1);
}


body.dark-theme textarea {
    background-color: #121212;
    color: white;
}

body.dark-theme .modal {
    background-color: #1e1e1e;
    color: white;
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.2);
}

body.dark-theme .choices__inner {
    background-color: #1e1e1e;
    color: white;
    border-color: #5e5e5e ;
}

body.dark-theme .choices__list {
    background-color: #1e1e1e;
    color: white;
}

body.dark-theme .choices__input {
    background-color: #1e1e1e!important;
    color: white;
}

body.dark-theme .is-highlighted {
    background-color: #141414!important;
    color: white;
}

body.dark-theme .modal-content {
    background-color: #1e1e1e;
    color: white;
}

body.dark-theme input {
    background-color: #1e1e1e!important;
    color: white;
    border-color: #5e5e5e !important;
}

body.dark-theme select {
    background-color: #1e1e1e!important;
    color: white;
    border-color: #5e5e5e ;
}

body.dark-theme textarea {
    background-color: #1e1e1e!important;
    color: white;
    border-color: #5e5e5e ;
}

body.dark-theme button {
    background-color: #333333;
    color: white;
    border-color: #5e5e5e ;
}

body.dark-theme button.primary {
    background-color: #333333;
    color: white;
    border-color:darkblue;
}

body.dark-theme button.success {
    background-color: rgb(0, 103, 0);
    color: white;
}

body.dark-theme button.destructive {
    background-color: rgb(161, 0, 0);
    color: white;
}

body.dark-theme #issue-label {
    background-color: #1e1e1e;
    color: white;
}
