/* General Styles */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

body.loading {
  cursor: progress!important;
}

a {
  color: #2a75fe;
}

.tooltip {
  background-color: #f1f1f1;
  padding: 10px;
}

/* Light Theme */
body.light-theme {
  background-color: #ffffff;
  color: #000000;
}

/* Issue Label */
#issue-label {
  width: 70%;
  resize: none;
  color: black;
  margin-bottom: 15px;
  background-color: #ededed;
  padding: 5px;
  border: 1px solid grey;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  background: white;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  resize: both;
  overflow: auto;
  min-width: 30%;
  max-height: 90vh;
  box-shadow: 5px 5px 15px;
  padding-bottom:35px;
}

.modal-content h2 {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.modal-form {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:20px;
}

.modal-content .comment {
  min-width: 300px;
  width:70%;
  min-height: 60px;
  resize: vertical;
}

.modal-content label {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

.modal-content .search-options {
  display: flex;
  width: fit-content;
  align-items: center;
}

.modal-content .search-options input {
  flex-grow: 0;
}

.modal-content .search-options label {
  word-break: keep-all;
  white-space: nowrap;
}



.modal .buttons {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.modal .buttons button:last-of-type {
  margin-left: auto;
}

/* Button Styles */
button {
  margin: 0 0;
  padding: 10px;
  text-align: center;
  vertical-align: text-top;
  border: solid 1px lightgray;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

button.destructive {
  border: 2px solid darkred;
  background: red;
  color: white;
  border-radius: 5px;
}

button.primary {
  border: 2px solid darkblue;
  background: blue;
  color: white;
  border-radius: 5px;
}

button.success {
  border: 2px solid rgb(19, 139, 0);
  background: rgb(10, 201, 0);
  color: white;
  border-radius: 5px;
}


button.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

footer button {
  margin: 0 0;
  padding: 5px;
  text-align: center;
  vertical-align: text-top;
  background: transparent;
  border: solid 1px lightgray;
  font-size: 23px;
}

/* Timer Styles */
#confirmation-message {

}

#timer-display {
  margin: 20px 0;
}

.modal.modal-timer {
  top: unset;
  left: unset;
  position: fixed;
  bottom: 52px;
  right: 80px;
  transform: unset;
  box-shadow: none;
  resize: none;
  min-height: 450px;
  min-width: 350px;
  opacity: 95%;
  padding-bottom:0;
}


#timerForm .buttons {
  align-content: center;
  flex-direction: row-reverse;
}

#timer-duration {
  line-height: 52px;
  margin: 0 10px;
  min-width: 50px;
  text-align: right;
}

#open-timer-modal-btn {
  margin: 3px 0;
  padding-top: 1px;
}
#timer-container {
  display: flex;
}

/* Footer Styles */
footer {
  display: flex;
  height: 52px;
}

footer .footer-container {
  align-content: center;
}

#total-time h3 {
  margin: 0px 5px 0 0;
  display: inline-block;
}


#total-time-value {
  display: inline-block;
}

#total-time {
  text-align: center;
  flex-grow: 1;
}

/* Zoom and Weekend Container Styles */
div#zoom-container {
  line-height: 34px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

div#weekend-container {
  display: flex;
  flex-direction: column;
  margin: 0px 15px;
}

input#zoomRange {
  height: 100%;
  margin: 0 15px;
}

output#zoom-output {
  line-height: 25px;
}

input#include-weekends {
  margin: 8px 0 6px;
}

/* About Section */
#about-section {
  position: relative;
  text-align: center;
  opacity: 35%;
  align-content: end;
  padding-bottom: 5px;
  margin: 0 10px;
}

/* Loading Container */
#loading-container {
  width: 50px;
  overflow: clip;
  margin: 0 10px;
}

/* Event Title */
.plywood-event-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 24px);
  padding: 2px 4px;
  background-color: inherit; /* Ensure the background color is inherited */
  color: inherit; /* Ensure the text color is inherited */
  filter: contrast(1.3) brightness(0.60) contrast(9999) invert(100) contrast(9999) grayscale(1) contrast(9999); /* Adjust the text color based on the background */
}

.fc-dayGridMonth-view .plywood-event-title{
  filter: none!important;
}

.fc-event-main .comment {
  filter: contrast(1.3) brightness(0.60) contrast(9999) invert(100) contrast(9999) grayscale(1) contrast(9999); /* Adjust the text color based on the background */
}

.issue-type-icon {
  display: inline-block;
  vertical-align: text-top; /* Align the icon vertically in the middle */
  margin-right: 2px; /* Add some space between the icon and the title */
  margin-bottom: 2px;
}

.fc-timegrid-event-harness-inset .fc-timegrid-event, .fc-timegrid-event.fc-event-mirror, .fc-timegrid-more-link {
  overflow: hidden;
}

/* Config Styles */
.issue-type-color {
  display: flex;
  width: 100%;
}

.modal .issue-type-color input[type="color"] {
  width: 40px;
}

.modal .issue-type-color input {
  flex-grow: 1;
  width: 100%;
  margin: 2px;
}

.modal-config .config-section {
  min-width: 420px;
}
.modal-config .config-section .form-group {
  width: 100%;
  display: flex;
}
.modal-config .config-section .form-group label {
  text-align: left;
}

.arrow {
  display: inline-block;
  transition: transform 0.3s ease;
}

.arrow.expanded {
  transform: rotate(-90deg);
}


#colorPickerModal {
  display: flex;
  flex-direction: column;
  background:white;
  padding: 10px;
  flex-grow: 1;
}
#colorPickerInput {
  flex-grow: 1;
  width: auto;
  margin: 10px 0;
}
#colorPickerModal .buttons {
  width: auto;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
#colorPickerModal .buttons button {
  margin: 0 5px;
}


#configForm {
  overflow: hidden scroll;
  max-height: calc(90vh - 120px);
  padding: 20px 40px;
}

#configForm .buttons {
  width: 100%;
}


#configModal {
  resize: none;
  overflow: hidden;
}

#issueTypeColors {
  width: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.modal .issue-type-color button {
  margin: 2px 2px;
  display: inline-block;
  padding: 0 8px;
  height: 32px;
}



/* Choices.js Styles */
.modal .choices {
  min-width: 300px;
  width: 70%;
  display: inline-block;
}

.modal .choices__inner {
  width: calc(100% - 17px);
}

.choices.is-disabled .choices__list {
  color: grey;
}